.blog-list {
  max-width: 1120px;
  margin: 0 auto;
}

.blog-banner {
  margin-bottom: 15px;
  :global {
    .ant-carousel {
      .slick-slide {
        font-size: 0;
        text-align: center;
        color: #fff;
      }
    }
    .banner-item {
      height: 500px;
    }
  }
}

.blog-item {
  margin-bottom: 30px;
  background: #fff;
  :global {
    a {
      padding: 50px 30px;
      display: block;
    }
    h2 {
      font-size: 18px;
    }
    .update-time {
      font-size: 12px;
      color: #999;
    }
  }
}

@media screen and (max-width: 750px) {
  .blog-banner {
    :global {
      .banner-item {
        height: 210px;
      }
    }
  }
}
