.blog-list {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 65px;
  :global {
    .blog-list-none {
      padding: 15px 0;
      background: #fff;
    }
  }
}

.blog-banner {
  margin-bottom: 15px;
  :global {
    .ant-carousel {
      .slick-slide {
        font-size: 0;
        text-align: center;
        color: #fff;
      }
    }
    .banner-item {
      height: 540px;
    }
  }
}

.blog-item {
  margin-bottom: 15px;
  background: #fff;
  :global {
    a {
      padding: 50px 30px;
      display: block;
    }
    h2 {
      font-size: 18px;
    }
    .update-time {
      font-size: 12px;
      color: #999;
    }
  }
}

@media screen and (max-width: 750px) {
  .blog-banner {
    :global {
      .banner-item {
        height: 210px;
      }
    }
  }
}
