.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  :global {
    .login-form {
      width: 320px;
      background: #fff;
      padding: 15px;
      border-radius: 5px;
    }
    .login-title {
      font-size: 20px;
      text-align: center;
      line-height: 30px;
      margin-bottom: 15px;
    }
  }
}
