.preview {
  :global {
    .preview-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      padding: 5px;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      cursor: zoom-out;
    }

    .leave-to,
    .enter {
      opacity: 0;
    }

    .leave-active,
    .enter-active {
      transition: all 0.5s;
    }
  }
}
