html {
  background: #f8f8f8 !important;
  color: #333;
  font-size: 16px;
  font-family: 'MicroSoft YaHei';
  height: auto !important;
}

body {
  height: auto !important;
  background: none !important;
}

* {
  box-sizing: border-box;
}

body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner {
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid transparent;
  height: 140px;
  background-clip: content-box;
}
