.blog {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 65px;
  :global {
    .document {
      padding: 50px 80px;
      min-height: calc(100vh - 65px);
      background-color: #fff;
      pre[class*="language"] {
        background-color: #21242a;
      }
      img {
        max-width: 100%;
        cursor: zoom-in;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .blog {
    :global {
      .document {
        padding: 30px 0;
      }
    }
  }
}
