.editor-view {
  background-color: #2d2d2d;
  :global {
    .editor-view-header {
      height: 50px;
      background: #3d3d3d;
      .editor-view-header-inner {
        max-width: 900px;
        margin: 0 auto;
        height: 100%;
        line-height: 50px;
        color: #fff;
        display: flex;
        align-items: center;
      }
      .status {
        .status-text {
          margin-left: 5px;
        }
      }
    }
    .editor-view-body {
      height: calc(100vh - 50px);
    }
  }
}
