.editor-view {
  background-color: #2d2d2d;
  :global {
    .editor-view-header {
      height: 50px;
      background: #3d3d3d;
      .editor-view-header-inner {
        max-width: 960px;
        margin: 0 auto;
        height: 100%;
        line-height: 50px;
        color: #fff;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 15px;
      }
      .status {
        .status-text {
          margin-left: 5px;
        }
      }
      .actions {
        position: absolute;
        top: 0;
        right: 15px;
        bottom: 0;
        .publish {
          border-color: rgba(24, 144, 255, 1);
          color: rgba(24, 144, 255, 1);
          background: none;
          &:hover {
            border-color: rgba(24, 144, 255, 0.8);
            color: rgba(24, 144, 255, 0.8);
          }
          &:disabled {
            border-color: rgba(24, 144, 255, 0.5);
            color: rgba(24, 144, 255, 0.5);
          }
        }
      }
    }
    .editor-view-body {
      height: calc(100vh - 50px);
    }
  }
}
